@media (max-width: 700px) {
  .title {
    color: white;
    grid-area: title;
    font-size: 3em;
    margin: auto;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
  .navbar {
    display: none;
    position: absolute;
  }
  .footer {
    grid-area: footer;
    width: 100%;
    background-color: orange;
  }
  .desktop-text {
    display: none;
  }

  .form-style {
    background-color: white;
  }
  .about-text {
    width: 80%;
    margin: auto;
    text-align: left;
  }
  .login-fields {
    margin-top: 2em;
  }
  .add-fields {
    margin-top: 4em;
  }
  .register-fields {
    margin-top: 1 em;
  }
  .demo-btn-reg {
    display: none;
  }
  .main-render {
    grid-area: cont;
    overflow: scroll;
    margin: 0px auto 0px auto;
    text-align: center;
    width: 80%;
  }
  .list-render {
    text-align: center;
  }
  .mobile-buttons {
    margin: auto;
    grid-area: btns;
    display: flex;
    justify-content: space-around;

    margin-top: 3.5em;
  }
  .mob-btns {
    box-shadow: 1px 2px #555;
  }
  .add-link {
    grid-area: add;
  }
  .see-link {
    grid-area: see;
  }
  .App {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "title title title"
      "cont cont cont"
      "cont cont cont"
      "cont cont cont"
      "btns btns btns"
      "footer footer footer";
    justify-content: center;
    overflow: auto;
    background-size: cover;
    background-position: center;
  }
}

/*************************************************************************************/

@media (min-width: 700px) {
  .title {
    display: none;
  }
  .navbar {
    background-color: orange;
  }
  .welcome {
    margin: auto;
    width: 70%;
  }
  .welcome-btns {
    margin-top: 3em;
  }
  .about-text {
    width: 70%;
    margin: auto;
    text-align: left;
  }
  .login-fields {
    margin: auto;
    margin-top: 20%;
    width: 70%;
  }
  .register-fields {
    margin: auto;
    margin-top: 5%;
    width: 70%;
  }
  .add-fields {
    margin: auto;
    margin-top: 20%;
    width: 70%;
  }
  .see-log-btn {
    margin: auto;
    margin-top: 50%;
    width: 70%;
  }
  .main-render {
    background-color: white;
    width: 33%;
    height: 65%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: auto;
    opacity: 0.95;
    text-align: center;
  }
  .mobile-buttons {
    display: none;
  }
  .App {
    background: url("./img/martins-zemlickis-57243-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .footer {
    display: none;
  }
}
